*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;

}
.conainer{

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 20px 0;

}
.logo{
    width: 150PX;
}
ul li{
    display: inline-block;
    list-style: none;


}
ul li a{

    color: black;
    text-decoration: none;
    margin: 0 20px;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;


}
.content .text{
    width: 35%;
    color: black;

}
.content .text h2{
    font-size: 35px;
    text-transform: uppercase;
    
}
.content .text p{
    font-size: 18px;
    margin: 20px 0;
}
.content .text a{
    text-decoration: none;
    background: beige;
    color: black;
    padding: 8px 15px;
    border-radius: 20ex;



}
.content .image{
    width: 30%;
}